<!-- About Section -->
<section id="about" class="container content-section">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2" style="font-weight: lighter;">
        <br/><br/>
        <h2>Web of Data Quality Workshop</h2>
        <br/>
          <p>
            Web of Data Quality Workshop aims to foster an in-depth discussion to address Web of Data quality issues, fostering dialogue on the establishment of standardized processes, development of accessible tools, implementation of reusable best practices and workflows working across various domains. By bringing together academia, industry professionals, and practitioners, we aim to cultivate practical strategies and tools that can strengthen data pipelines across various domains, ensuring that data quality is prioritized, reproducible, and effective in driving reliable outcomes. Contributions in this direction will affect any data-driven pipeline dealing with machine readable data.
           </p>
        </div>
  </div>
</section>