<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#topics">Call & Important dates</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#program">Program</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#organizers">Organization</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    
                </ul>
                <!--<p class="copyright text-muted small">{{ site.copyright }}</p>-->
            </div>
            <!--<div class="col-md-4">
                {{ site.credits }}
            </div>-->
        </div>
    </div>
</footer>
