<section id="services">

    <!-- ===================== 01 Call & Important Dates ===================== -->
    
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12" id="topics">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Call & Important Dates</h2>
            <div class="lead">
    
    🎯 <strong>Topics of Interest</strong><br><br>
    
    <ul>
    <li>Web of Data Quality Assessment at Both Metadata and Data Levels</li>
    <li>Standardized, Reusable, and Tailored Approaches for Quality Assessment and Improvement</li>
    <li>Interplay and Alignment Among Different Standards for Data Quality</li>
    <li>Artificial Intelligence-Driven Approaches for Web of Data Quality Assessment and Improvement</li>
    <li>Impact of Data Quality on Governance of Responsible Artificial Intelligence</li>
    <li>Temporal Variability of Data Quality and Its Implications</li>
    <li>Data Quality Assessment and Improvement as Part of Complex Data Management Pipelines</li>
    <li>Alignment Between Intrinsic Quality Dimensions and "Fit for Use" Requirements</li>
    <li>Interplay and Correlation Among Different Quality Dimensions and Influencing Factors</li>
    </ul>
    
    🗓 <strong>Important Dates</strong><br><br>
    
    <ul>
    <li><del>18 December, 2024</del> 8 January, 2025 — Paper submission deadline</li>
    <li><del>13 January, 2025</del> 27 January, 2025 — Notification of Acceptance</li>
    <li>2 February, 2025 — Camera-ready paper due</li>
    <li><strong>April 28th, 2025 (1:30–5:00 PM, Sydney time)</strong> — Workshop Day</li>
    </ul>
    
    </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ===================== 02 Program ===================== -->
    
    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12" id="program">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Program</h2>
            <div class="lead">
    
    <table class="table">
    <tr><th>Start</th><th>Speaker</th><th>Talk Title</th><th>Presentation</th></tr>
    <tr><td>13:30</td><td>Maria Angela Pellegrino</td><td>Workshop Opening</td><td><a href="assets/Intro-WebOfDataQualityWs.ppsx">Slides</a></td></tr>
    <tr><td>13:35</td><td><strong>Gianluca Demartini</strong></td><td><em>Bias in Data Annotations</em></td><td><a href="assets/Demartini-BiasInDataAnnotations.pdf">Slides</a></td></tr>
    <tr><td>14:20</td><td>Oshani Seneviratne</td><td>Explainability-Driven Quality Assessment</td><td><a href="assets/WoDQ2025-paper1.pdf">Slides</a></td></tr>
    <tr><td>14:35</td><td>Shima Esfandiari</td><td>Enhancing Data Quality by Identifying Influential Nodes</td><td><a href="assets/WoDQ2025-paper2.mp4">Video</a></td></tr>
    <tr><td>14:45</td><td>Yuhao Gong</td><td>Adaptive Confidence-aware Reinforcement Learning</td><td><a href="assets/WoDQ2025-paper3.mp4">Video</a></td></tr>
    <tr><td>15:00</td><td colspan="4"><strong>BREAK</strong></td></tr>
    <tr><td>15:30</td><td><strong>Kerry Taylor</strong></td><td><em>Does Data Quality Even Matter?</em></td><td><a href="assets/Taylor-DoesDataQualityEvenMatter.pdf">Slides</a></td></tr>
    <tr><td>16:15</td><td>Gabriele Tuozzo</td><td>Navigating the LOD Subclouds</td><td><a href="assets/WoDQ2025-paper4.pdf">Slides</a></td></tr>
    <tr><td>16:30</td><td>Elyas Meguellati</td><td>Are Large Language Models Good Data Preprocessors?</td><td><a href="assets/WoDQ2025-paper5.pdf">Slides</a></td></tr>
    <tr><td>16:45</td><td>Maria Angela Pellegrino</td><td>Closing Ceremony</td><td></td></tr>
    </table>
    
    </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ===================== 03 Organization ===================== -->
    
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12" id="organization">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Organization</h2>
            <div class="lead">
    
    <h3>Organizers</h3>
    <img class="organizers" src="assets/mariaangela-pellegrino.jpg" width="150">
    <img class="organizers" src="assets/anisa-rula.jpeg" width="150">
    <img class="organizers" src="assets/anelia-kurteva.jpeg" width="150">
    
    <h3>Advisory Board</h3>
    <img class="organizers" src="assets/heiko-paulheim.png" width="150">
    <img class="organizers" src="assets/laure-berti-equille.jpeg" width="150">
    <img class="organizers" src="assets/paul-groth.jpg" width="150">
    
    <h3>Program Committee</h3>
    <ul>
    <li>Aidan Hogan — Universidad de Chile</li>
    <li>Ernesto Jiménez-Ruiz — University of London</li>
    <li>Gabriele Tuozzo — University of Salerno</li>
    <li>Heiko Paulheim — Universität Mannheim</li>
    <li>Paul Groth — University of Amsterdam</li>
    </ul>
    
    </div>
          </div>
        </div>
      </div>
    </div>
    
</section>